body {
    background-image: url("img/bckg.jpg");
    
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/ 
    background-size: 200% 200%;
    background-position: center;
    animation: gradient 15s ease infinite;
    font-family: monospace;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

table {
    border-collapse: collapse;
  }
  

h1{
    font-size: 77px; 
    font-weight: bold;
    text-align: center;
    align-items: center;
    background: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(3px);
    color: rgb(0, 30, 128);

    width: 600px;
    height: 120px;
    margin: 0 auto;
    margin-top: 20px;

    box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, 0.4),
      -7px -7px 10px 0 rgba(100, 100, 100, 0.5);
    transition: box-shadow 2s ease;
  }

table {
    text-align: center;
    width: max-content; 
    background: rgb(100,100,100);
    background: linear-gradient(180deg, rgba(70,70,70,1) 0%, rgba(50,50,50,1) 19%, rgba(20,20,20,1) 100%);
    border-radius: 37px;
    box-shadow: 30px 30px 40px 0 rgba(20,20,20,0.7);
    width: 470px;
    margin: 0 auto;
    margin-top: 100px;
}

button {
    width: 110px;
    height: 110px;
    font-size: 70px;
    margin: 7px;
    border-radius: 20%;
    border: 1px;
    background: transparent;
    color: #c4c4c4;
    font-family: monospace;
    outline: none;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.10),
    -4px -4px 10px 0 rgba(100, 100, 100, 0.10);
    transition: box-shadow 2s ease;
}


button:disabled {
  box-shadow: inset 4px 4px 10px 0 rgba(0, 0, 0, 0.4),
  inset -4px -4px 10px 0 rgba(100, 100, 100, 0.70);
}

.textview {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 20px;
    width: 350px;
    height: 70px;
    margin: 15px;
    font-size: 25px;
    padding: 15px;   
    color: #c4c4c4;
    box-shadow: inset 4px 4px 10px 0 rgba(0, 0, 0, 0.7),
    inset -4px -4px 10px 0 rgba(100, 100, 100, 0.7);
    font-family: monospace;
    overflow-y: hidden;
    text-align: center;
    outline: none;
}



